{{ define "register" }}
<h2>Registro</h2>

<form method="POST" action="/api/register">
    <div class="mb-3">
        <label>Nombre</label>
        <input name="name" class="form-control">
    </div>

    <div class="mb-3">
        <label>Apellido</label>
        <input name="lastname" class="form-control">
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input name="email" class="form-control">
    </div>

    <div class="mb-3">
        <label>Contraseña</label>
        <input type="password" name="password" class="form-control">
    </div>

    <button class="btn btn-success">Registrarse</button>
</form>
{{ end }}
